@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
	--text-heading: 5rem;
	--text-subheading: 3rem;
	--text-body: 1.5rem;
	--text-card: 1.2rem;

	--font-urbanist: 'Urbanist', sans-serif;

	--color-primary: #1f2024;
	--color-secondary: #282828;
	--color-muted: #a9a9b0;

	--color-blue: #4484d7;
	--color-blue-dark: #3266ab;
	--color-green: #59cd6a;
	--color-red: #d6433c;
	--color-red-dark: #9c2822;


	--color-background-primary: #f3f3f1;
	--color-background-secondary: #f1f1f1;
	--color-backing: #e2e1e6;

	--color-outline: #dddddd;

}